body
{
    background-image: url("../assests/1b7c9d6721598a57aef7f38ee959d6982df64433.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
} 

 .container
{
    background-color: white;
    box-shadow: 10px;
    width: 50%;
    border-radius: 20px;
}

.search-Container
{
    background-color: white;
}